<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0"> @*yazılması gereken kısım*@

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/StyleSheet2.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div id="banner" class="row">
            BANNER
        </div>

        <div id="menu" class="row">
            <div class="navbar navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Uygulama adı", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Ana Sayfa", "index", "Home")</li>
                            <li>@Html.ActionLink("Ürünler", "index", "UrunListe")</li>
                            <li>@Html.ActionLink("Kurumsal", "kurumsal", "Home")</li>
                            <li>@Html.ActionLink("İletişim", "iletisim", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div id="footer" class="row">
            <div class="container body-content">
                @RenderBody()
               
            </div>

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
